body {
	margin: auto;
	text-align: center;
	background-color: #333333;
}

header {
	font-size: 40px;
	color: #ffbf80;
}
#subHead {
	font-size: 20px;
	color: #ffe6cc;
}

#answer, #getAnswer {
    visibility: hidden;
}

#game {
	color:  #f2f2f2;
}
#error {
	color: red;
	visibility: hidden;
}

#footer {
   position: fixed;
   left: 20px;
   bottom: 0;
   color: #f2f2f2;
   text-align: center;
}